body {
    margin: 0;
    padding: 0;
}
.form {
    color: darkblue;
    width: 30vw;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border: 2px solid darkblue;
    padding: 5px;
}
#name, #surname, #age, #button {
    font-size: 30px;
}
#result {
    font-size: 30px;
    margin-top: 25px;
    height: 40px;
    color: darkblue;
}