body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;

}
.form {
    color: darkblue;
    margin: 0 auto;
    width: 450px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border: 2px solid darkblue;
    padding: 5px;
}
#name, #surname, #age, #button {
    font-size: 30px;
}
#result {
    font-size: 30px;
    margin: 0 auto;
    height: 40px;
    color: darkblue;
    display: flex;
    justify-content: center;
}
#counter {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: 50px;
    color: darkred;
    box-sizing: border-box;
    border: 2px solid darkred;
}
.clear {
    font-size: 30px;
}